USE [master]
GO
/****** Object:  Database [touristCapstone]    Script Date: 05-03-2024 17:45:57 ******/
CREATE DATABASE [touristCapstone]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'touristCapstone', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\touristCapstone.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'touristCapstone_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\touristCapstone_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [touristCapstone].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [touristCapstone]
GO
/****** Object:  Table [dbo].[Bookings]    Script Date: 05-03-2024 17:45:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bookings](
	[UserEmail] [nvarchar](max) NULL,
	[CityName] [nvarchar](max) NULL,
	[PlaceName] [nvarchar](max) NULL,
	[PlaceRating] [decimal](4, 2) NULL,
	[PlaceImg] [nvarchar](max) NULL,
	[Contact] [int] NULL,
	[OpeningHour] [nvarchar](max) NULL,
	[ClosingHour] [nvarchar](max) NULL,
	[StartMonthToVisit] [nvarchar](max) NULL,
	[EndMonthToVisit] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cities]    Script Date: 05-03-2024 17:45:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cities](
	[CityID] [int] NOT NULL,
	[CityName] [nvarchar](max) NULL,
	[CityRating] [decimal](4, 2) NULL,
	[StartMonthToVisit] [nvarchar](max) NULL,
	[EndMonthToVisit] [nvarchar](max) NULL,
	[CityDesc] [nvarchar](max) NULL,
	[CityImg] [nvarchar](max) NULL,
	[CityCoords] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[CityID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Places]    Script Date: 05-03-2024 17:45:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Places](
	[CityID] [int] NULL,
	[PlaceID] [int] NOT NULL,
	[PlaceName] [nvarchar](100) NULL,
	[PlaceRating] [decimal](4, 2) NULL,
	[DistFromCity] [int] NULL,
	[PlaceDesc] [varchar](8000) NULL,
	[PlaceImg] [nvarchar](max) NULL,
	[PlaceCoords] [nvarchar](100) NULL,
	[OpeningHour] [nvarchar](max) NULL,
	[ClosingHour] [nvarchar](max) NULL,
	[Contact] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[PlaceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 05-03-2024 17:45:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[UserRole] [nvarchar](max) NULL,
	[UserName] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[Contact] [bigint] NULL,
	[Password] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[Bookings] ([UserEmail], [CityName], [PlaceName], [PlaceRating], [PlaceImg], [Contact], [OpeningHour], [ClosingHour], [StartMonthToVisit], [EndMonthToVisit]) VALUES (N'sppraveenkumar56@gmail.com', N'Manali', N' 4. Hadimba Temple ', CAST(4.40 AS Decimal(4, 2)), N'https://praveen.blob.core.windows.net/capstone/Places/Manali/hadimbaTemple.jpg', 1111111111, N'8:00 A.M.', N'5:00 P.M.', N'October', N'June')
INSERT [dbo].[Bookings] ([UserEmail], [CityName], [PlaceName], [PlaceRating], [PlaceImg], [Contact], [OpeningHour], [ClosingHour], [StartMonthToVisit], [EndMonthToVisit]) VALUES (N'sppraveenkumar56@gmail.com', N'Leh Ladakh', N' 1. Pangong Lake ', CAST(4.40 AS Decimal(4, 2)), N'https://praveen.blob.core.windows.net/capstone/Places/lehLadakh/pangongLake.jpg', 1111111111, N'8:00 A.M.', N'5:00 P.M.', N'July', N'October')
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserID], [UserRole], [UserName], [Email], [Contact], [Password]) VALUES (8, N'admin', N'praveen123', N'sppraveenkumar56@gmail.com', 9611352320, N'a665a45920422f9d417e4867efdc4fb8a04a1f3fff1fa07e998e86f7f7a27ae3')
INSERT [dbo].[Users] ([UserID], [UserRole], [UserName], [Email], [Contact], [Password]) VALUES (9, N'admin', N'nayanika', N'nayanika.mishra02@gmail.com', 9191919191, N'cbfad02f9ed2a8d1e08d8f74f5303e9eb93637d47f82ab6f1c15871cf8dd0481')
INSERT [dbo].[Users] ([UserID], [UserRole], [UserName], [Email], [Contact], [Password]) VALUES (16, N'admin', N'manant', N'manant@gmail.com', 1111111111, N'151b14d02ad19ad8e4d76195f938ba46568c0bfd64d9018d9e01e997a244e802')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
USE [master]
GO
