USE [master]
GO
/****** Object:  Database [touristCapstone]    Script Date: 27-02-2024 11:38:04 ******/
CREATE DATABASE [touristCapstone]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'touristCapstone', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\touristCapstone.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'touristCapstone_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\touristCapstone_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [touristCapstone].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [touristCapstone]
GO
/****** Object:  User [INFA_REP]    Script Date: 27-02-2024 11:38:04 ******/
CREATE USER [INFA_REP] FOR LOGIN [INFA_REP] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [INFA_DOM3]    Script Date: 27-02-2024 11:38:04 ******/
CREATE USER [INFA_DOM3] FOR LOGIN [INFA_DOM3] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[Cities]    Script Date: 27-02-2024 11:38:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cities](
	[CityID] [int] NOT NULL,
	[CityName] [nvarchar](max) NULL,
	[CityRating] [decimal](4, 2) NULL,
	[StartMonthToVisit] [nvarchar](max) NULL,
	[EndMonthToVisit] [nvarchar](max) NULL,
	[CityDesc] [nvarchar](max) NULL,
	[CityImg] [varbinary](max) NULL,
	[CityCoords] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[CityID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Places]    Script Date: 27-02-2024 11:38:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Places](
	[CityID] [int] NULL,
	[PlaceID] [int] NOT NULL,
	[PlaceName] [nvarchar](100) NULL,
	[PlaceRating] [decimal](4, 2) NULL,
	[DistFromCity] [int] NULL,
	[PlaceDesc] [varchar](8000) NULL,
	[PlaceImg] [varbinary](1000) NULL,
	[PlaceCoords] [nvarchar](100) NULL,
	[OpeningHour] [time](7) NULL,
	[ClosingHour] [time](7) NULL,
	[Contact] [int] NULL,
	[Feedback] [nvarchar](1000) NULL,
PRIMARY KEY CLUSTERED 
(
	[PlaceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Places] ([CityID], [PlaceID], [PlaceName], [PlaceRating], [DistFromCity], [PlaceDesc], [PlaceImg], [PlaceCoords], [OpeningHour], [ClosingHour], [Contact], [Feedback]) VALUES (1, 3, N' 3. Jogini Waterfall ', CAST(4.60 AS Decimal(4, 2)), 4, N' Jogini Waterfall is located about 3 kilometres away from the bustling town of Manali and around 2 kilometres away from Vashisht Temple. Tourists have to trek ahead from the temple to reach Jogini Waterfall.  ', NULL, NULL, NULL, NULL, NULL, NULL)
GO
USE [master]
GO
