@import '../../../app/shared/shared-styles/shared-styles.scss';

.height_max{
  padding: 20px;
  height: 100vh;
}

.attractions{
  overflow-y: scroll;
}

.attractions::-webkit-scrollbar{
  display: none;
}

.bookings{
  background-color: aliceblue;
  width: 80%;
  height: 15%;
  border-radius: 10px;
  box-shadow: 2px 2px 6px rgb(130, 154, 175);
}

.image{
  height: 100%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.placeName{
  font-size: 25px;
  font-weight: 600;
  width: 200px;
}

.hours_text{
  color: rgb(95, 95, 95); 
  font-weight: 600;
  width: 100px;
}

.months{
  color: rgb(95, 95, 95); 
  font-weight: 600;
}

.timings {
  color: rgb(0, 92, 0);
  font-weight: 600;
  font-size: 20px;
}