<div class="main_container">
  <div class="d-flex flex-row justify-content-between">
    <p></p>
    <h1 class="d-flex justify-content-center">Cities</h1>
    <button class="btn btn-success" style="width: 100px; height: 40px;" *ngIf="userRole==='admin'"
      routerLink="addCity">Add City</button>
    <p *ngIf="userRole==='user'"></p>
  </div>
  <div class="filter_bar p_10 d-flex flex-row gap_4 justify-content-center">
    <div class="d-flex self-align flex-row justify-content-center">
      <input class="input_search" type="text" placeholder="Search By City Name.." name="searchCity" #searchByCityName
        (input)="onSearchByCityName(searchByCityName.value)" spellcheck="false">
    </div>
    <div class="d-flex self-align">
      <input class="input_search" type="text" placeholder="Search By City Rating.." name="searchCity"
        #searchByCityRating (input)="onSearchByCityRating(searchByCityRating.value)" spellcheck="false">
    </div>
  </div>
  <div class="d-flex flex-row gap_2 flex-wrap justify-content-around pt_5 pb_5">
    <div *ngFor="let city of filteredCities" class="cards d-flex flex-column">
      <div (click)="cityHandler($event, city.cityID)">
        <i *ngIf="userRole==='admin'" id="delete-city-{{city?.cityID}}"
          class="fa fa-trash fa-2x btn btn-danger trash_icon"></i>
        <p class="bottom_border_white">
          <img class="images" [src]="sanitizeImageUrl(city.cityImg)" width="426px" height="276.68px" />
        </p>
        <div class="d-flex flex-column justify-content-between p_10">
          <div class="d-flex flex-row gap_2 justify-content-between align-items-center">
            <h4 style="color: rgb(0, 0, 0);">{{ city.cityName }}</h4>
            <p style="color: rgb(95, 95, 95); font-weight: 600;" class="d-flex justify-content-center">{{
              city.startMonthToVisit }} - {{ city.endMonthToVisit }}</p>
            <p style="color: rgb(0, 0, 0); font-weight: 600;" class="d-flex flex-row gap_1 align-items-center"><i
                class="fa fa-star" style="color: rgb(0, 0, 0);"></i>{{ city.cityRating }}</p>
          </div>
          <div class="d-flex flex-column right_border_white">
            <p class="description" style="color: black;">{{ city.cityDesc }}</p>
            <div class="d-flex flex-column gap_1">
              <button class="btn btn-dark">GPS Button</button>
              <button class="btn btn-primary" [routerLink]="['/attractions/places']">Click To See Places!</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>