<div class="d-flex main_container align-items-center justify-content-center">
  <div class="card d-flex flex-column">
    <div class="d-flex flex-row gap_3">
      <img class="image" [src]="sanitizeImageUrl(city.cityImg)" height="350px">
      <div class="d-flex flex-column gap_2">
        <div class="d-flex justify-content-between">
          <p></p>
          <h1 class="p_10 mb-0">{{ city.cityName }}</h1>
          <p></p>
        </div>
        <p class="description scrollbar" id="style-3">{{ city.cityDesc }}</p>
      </div>
    </div>
    <div class="d-flex flex-column justify-content-center align-items-center">
      <div class="d-flex justify-content-around pt_20 gap_2">
        <div class="timings d-flex flex-row gap_1">
          <p class="timingsLabel">Best Time to Visit:</p>
          <p>{{ city.startMonthToVisit }} - {{ city.endMonthToVisit }}</p>
        </div>
        <p class="d-flex flex-row gap_1 align-items-center rating"><i class="fa fa-star"></i>{{ city.cityRating }}
        </p>
      </div>
      <div class="d-flex flex-column align-items-center">
        <h5 class="pb_5">Reviews:</h5>
        <div class="d-flex flex-row justify-content-around">
          <i (click)="addReview()"
            class="fa fa-plus-square fa-2x btn btn-success edit_icon d-flex justify-content-center align-items-center"></i>
          <div *ngIf="reviews.length > 0" class="reviews_container d-flex flex-column gap_1 scrollbar" id="style-3">
            <div class="reviewText d-flex flex-row gap_1 p_10" *ngFor="let review of reviews">
              <p class="userName">{{ review.userName }}</p>
              <p class="scrollbar" id="style-3">{{ review.review }}</p>
            </div>
          </div>
          <div></div>
        </div>
      </div>
      <div class="d-flex align-items-center justify-content-center pt_20">
        <button class="btn btn-dark buttonText" (click)="navigate()">GPS Button!</button>
      </div>
    </div>
  </div>
</div>