<form [formGroup]="addPlaceFrom" (submit)="addPlace(addPlaceFrom)">
  <div class="d-flex flex-column gap_3 align-items-center justify-content-center auth_form">
    <div class="d-flex flex-row gap_4">
      <div class="d-flex flex-column gap_3">
        <input class="input_search" type="text" formControlName="placeName" placeholder="Enter Place Name...">
        <input class="input_search" type="number" step="0.1" max="5.0" formControlName="placeRating"
          placeholder="Enter Place Rating...">
        <input class="input_search" type="number" step="1" min="0" formControlName="distFromCity"
          placeholder="Enter Dist From City...">
        <select class="input_search" formControlName="openingHour">
          <option value="">Select Opening Hour...</option>
          <option value="12:00 A.M.">12:00 A.M.</option>
          <option value="1:00 A.M.">1:00 A.M.</option>
          <option value="2:00 A.M.">2:00 A.M.</option>
          <option value="3:00 A.M.">3:00 A.M.</option>
          <option value="4:00 A.M.">4:00 A.M.</option>
          <option value="5:00 A.M.">5:00 A.M.</option>
          <option value="6:00 A.M.">6:00 A.M.</option>
          <option value="7:00 A.M.">7:00 A.M.</option>
          <option value="8:00 A.M.">8:00 A.M.</option>
          <option value="9:00 A.M.">9:00 A.M.</option>
          <option value="10:00 A.M.">10:00 A.M.</option>
          <option value="11:00 A.M.">11:00 A.M.</option>
          <option value="12:00 P.M.">12:00 P.M.</option>
          <option value="1:00 P.M.">1:00 P.M.</option>
          <option value="2:00 P.M.">2:00 P.M.</option>
          <option value="3:00 P.M.">3:00 P.M.</option>
          <option value="4:00 P.M.">4:00 P.M.</option>
          <option value="5:00 P.M.">5:00 P.M.</option>
          <option value="6:00 P.M.">6:00 P.M.</option>
          <option value="7:00 P.M.">7:00 P.M.</option>
          <option value="8:00 P.M.">8:00 P.M.</option>
          <option value="9:00 P.M.">9:00 P.M.</option>
          <option value="10:00 P.M.">10:00 P.M.</option>
          <option value="11:00 P.M.">11:00 P.M.</option>
        </select>
        <select class="input_search" formControlName="closingHour">
          <option value="">Select Closing Hour...</option>
          <option value="12:00 A.M.">12:00 A.M.</option>
          <option value="1:00 A.M.">1:00 A.M.</option>
          <option value="2:00 A.M.">2:00 A.M.</option>
          <option value="3:00 A.M.">3:00 A.M.</option>
          <option value="4:00 A.M.">4:00 A.M.</option>
          <option value="5:00 A.M.">5:00 A.M.</option>
          <option value="6:00 A.M.">6:00 A.M.</option>
          <option value="7:00 A.M.">7:00 A.M.</option>
          <option value="8:00 A.M.">8:00 A.M.</option>
          <option value="9:00 A.M.">9:00 A.M.</option>
          <option value="10:00 A.M.">10:00 A.M.</option>
          <option value="11:00 A.M.">11:00 A.M.</option>
          <option value="12:00 P.M.">12:00 P.M.</option>
          <option value="1:00 P.M.">1:00 P.M.</option>
          <option value="2:00 P.M.">2:00 P.M.</option>
          <option value="3:00 P.M.">3:00 P.M.</option>
          <option value="4:00 P.M.">4:00 P.M.</option>
          <option value="5:00 P.M.">5:00 P.M.</option>
          <option value="6:00 P.M.">6:00 P.M.</option>
          <option value="7:00 P.M.">7:00 P.M.</option>
          <option value="8:00 P.M.">8:00 P.M.</option>
          <option value="9:00 P.M.">9:00 P.M.</option>
          <option value="10:00 P.M.">10:00 P.M.</option>
          <option value="11:00 P.M.">11:00 P.M.</option>
        </select>
      </div>
      <div class="d-flex flex-column gap_3">
        <div></div>
        <textarea class="input_search" type="text" formControlName="placeDesc"
          placeholder="Enter Place Description..."></textarea>
        <input class="input_search" type="file" formControlName="placeImg" placeholder="Add Place Image..."
          (change)="handleFileSelect($event)">
        <input class="input_search" type="text" formControlName="placeCoords" placeholder="Enter Place Coordinates...">
        <input class="input_search" type="text" formControlName="contact" placeholder="Enter Contact Details...">
      </div>
    </div>
    <span *ngIf="isMessageVisible" [style.color]="message==='Place Added!' ? 'green' : 'red'">{{ message }}</span>
    <button class="btn btn-primary" style="width: 30%;">Add Place</button>
  </div>
</form>