@import "../../../app/shared/shared-styles/shared-styles.scss";

.main_container {
  height: 100vh;
}

.card{
  border-radius: 20px;
  background-color: aliceblue;
  box-shadow: 5px 5px 10px rgb(130, 154, 175);
  height: 90%;
  width: 90%;
}

.image {
  width: 50%;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: 2px 2px 5px rgb(0, 0, 0);
}

.description {
  height: 250px;
  padding-right: 40px;
  text-align: justify;
}

.rating {
  font-weight: 600;
  font-size: 20px;
}

.timings {
  color: rgb(0, 92, 0);
  font-weight: 600;
  font-size: 20px;
}

.timingsLabel{
  color: black;
}

.bookButton{
  color: white;
  width: 60%;
}

.reviews{
  width: 100%;
}

.reviews_container{
  padding: 10px;
  width: 80%;
  height: 23vh;
}

.userName{
  font-weight: 700;
}

.edit_icon{
  height: 50px;
  width: 50px;
  color: white;
}

.reviewText{
  background-color: rgb(250, 250, 194);
  box-shadow: 2px 2px 5px rgb(201, 201, 25);
  padding-top: 10px;
  height: 80px;
  border-radius: 5px;
}
