<div class="d-flex main_container">
  <div class="d-flex flex-column justify-content-between">
    <div class="d-flex flex-row gap_3">
      <img class="image" [src]="sanitizeImageUrl(bookPlace.placeImg)">
      <div class="d-flex flex-column gap_2">
        <div class="d-flex justify-content-between">
          <p></p>
          <h1 class="p_10 mb-0">{{ bookPlace.placeName }}</h1>
          <p></p>
        </div>
        <p class="description">{{ bookPlace.placeDesc }}</p>
      </div>
    </div>
    <div class="d-flex flex-column gap_2">
      <div class="d-flex justify-content-between p_20">
        <div class="timings d-flex flex-row gap_1">
          <p class="timingsLabel">Timings:</p>
          <p>{{ bookPlace.openingHour }} - {{ bookPlace.closingHour }}</p>
        </div>
        <div class="d-flex flex-row gap_1 timings">
          <p class="timingsLabel">Distance From City:</p>
          <p>{{ bookPlace.distFromCity }} KMS</p>
        </div>
        <p class="d-flex flex-row gap_1 align-items-center rating"><i class="fa fa-star"></i>{{ bookPlace.placeRating }}
        </p>
      </div>
      <div class="d-flex flex-row justify-content-center timings gap_1">
        <i class="fa fa-phone-square pt_8"></i>
        <p class="timingsLabel">Contact: </p>
        <p>{{ bookPlace.contact }}</p>
      </div>
    </div>
    <div></div>
    <div class="d-flex justify-content-center p_20">
      <div #paymentRef class="paypalButton"></div>
    </div>
  </div>
</div>