<form *ngIf="editUserForm" [formGroup]="editUserForm" (submit)="editUser(editUserForm)">
  <div class="d-flex flex-column gap_3 align-items-center justify-content-center auth_form">
    <select class="input_search" formControlName="userRole">
      <option value="">Select User Role...</option>
      <option value="user">User</option>
      <option value="admin">Admin</option>
    </select>
    <input class="input_search" type="text" formControlName="userName" placeholder="Enter New UserName...">
    <input class="input_search emailText" type="text" formControlName="userEmail">
    <input class="input_search" type="password" formControlName="password" placeholder="Enter New Password...">
    <input class="input_search" type="text" formControlName="contact" placeholder="Enter New Contact Details...">
    <span *ngIf="isMessageVisible">{{ message }}</span>
    <button type="submit" class="btn btn-primary" style="width: 30%;">Edit User</button>
  </div>
</form>